@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}
<body style="background-color:powderblue;">
    <iframe width="560" height="315" src="https://www.youtube.com/embed/co4EBYZZhg4?si=dpBp1H2FN1bJ4IiI" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>

<div class="text-center">
       <h1 class="display-4 green-text">Welcome to Music Station </h1>
    <p> <a href="https://g.co/kgs/a1Nrwqa"> My First ASP.NET Project </a> </p>
</div>
<div class="text center">
    <h1 id="Welcome_to Music Station" class="display-4 green-text" onmouseover="newcolor()"</h1>
    <p> <a href="https://g.co/kgs/a1Nrwqa"> 
</div>
</body>